<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/most_wanted_cabs</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">mysql</property>

    <!-- DB schema will be updated if needed -->
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
    <property name="hibernate.show_sql">true</property>

    <mapping class="lk.ijse.dep.MostWantedCabs.Entity.Customer"></mapping>
    <mapping class="lk.ijse.dep.MostWantedCabs.Entity.Driver"></mapping>
    <mapping class="lk.ijse.dep.MostWantedCabs.Entity.Issue"></mapping>
    <mapping class="lk.ijse.dep.MostWantedCabs.Entity.Owner"></mapping>
    <mapping class="lk.ijse.dep.MostWantedCabs.Entity.Return"></mapping>
    <mapping class="lk.ijse.dep.MostWantedCabs.Entity.User"></mapping>
    <mapping class="lk.ijse.dep.MostWantedCabs.Entity.Vehicle"></mapping>
    <mapping class="lk.ijse.dep.MostWantedCabs.Entity.VehicleCategory"></mapping>

  </session-factory>
</hibernate-configuration>